.advantages
    background: url(../img/bg/advantages_bg.png) center center/cover no-repeat
    padding: 76px 0 135px 0
    &__wrapper
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
        &_item
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 78px
            width: 864px
            img
                width: 80px
                height: 80px
    &__text
        width: 725px
        margin-left: 50px
    &__descr
        color: #000000
        font-size: 20px
        font-weight: 300
