*
    font-family: 'Ubuntu', sans-serif;
@import 'titles'
@import 'buttons'
@import 'header'
@import 'advantages'
@import 'skills'
@import 'portfolio'
@import 'footer'
@import 'slider'
body
    background-color: #ced7d8
hr
    height: 2px
    background-color: black
    border: none
    margin: 0
    box-shadow: 0 0 10px black
.active
    transform: scale(1.1)
.show
    display: block
.hide
    display: none
.down
    background-color: #ffffff00
    cursor: pointer
    transition: 1s all
    position: fixed
    bottom: 20px    
    z-index: 9999
    right: 0
    &__img
        height: 80px
        width: 80px
        display: block
        animation: 0.3s tremor ease-out infinite;
        &:hover
            animation: 0.1s tremor ease-out infinite;      

