*
    font-family: 'Ubuntu', sans-serif;
@import 'titles'
@import 'buttons'
@import 'header'
@import 'advantages'
@import 'skills'
@import 'portfolio'
@import 'footer'
@import 'slider'
html
    height: 100%
body
    background-color: #ced7d8
    height: 100%
hr
    height: 2px
    background-color: black
    border: none
    margin: 0
    box-shadow: 0 0 10px black
.active
    transform: scale(1.1)
.show
    display: block
.hide
    display: none
.head
    position: fixed
    right: 10px
    top: 90%
    width: 50px
    transition: 1s all
    z-index: 9999
    &:hover
        transform: scale(1.2)
    
